<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedIn) { %>
      <a title="Click to manage account" href="/account/">My Account</a>
      <a title="Click to log out" href="/account/logout">Log Out</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">Login</a>
    <% } %>
  </div>
</header>
