<h1>Welcome to CSE Motors</h1>
<%- messages() %>
<div class="hero">
    <img src="images/vehicles/delorean.jpg" alt="Delorean">
    <div class="hero-action">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="images/site/own_today.png" alt="Own Today!">
    </div>
</div>
<div class="content">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade">
            <div class="upgrade-item">
                <img class="upgrade-image" src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </div>
            <a class="upgrade-link">Flux Capacitor</a>
        </div>
        <div class="upgrade">
            <div class="upgrade-item">
                <img class="upgrade-image" src="images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            <a class="upgrade-link">Flame Decals</a>
        </div>
        <div class="upgrade">
            <div class="upgrade-item">
                <img class="upgrade-image" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </div>
            <a class="upgrade-link">Bumper Stickers</a>
        </div>
        <div class="upgrade">
            <div class="upgrade-item">
                <img class="upgrade-image" src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            <a class="upgrade-link">Hub Caps</a>
        </div>
    </div>
</div>

